/* Additional styles for the forgot password page */
#forgot-password {
    margin-top: 20px;
}

#forgot-password form {
    display: flex;
    flex-direction: column;
}

#forgot-password input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.logo {
    width: 80px; /* Adjust size as needed */
    height: 80px;
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image fills the circular frame */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Adds a dome shadow effect */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

.logo:hover {
    transform: scale(1.1); /* Enlarges the logo slightly on hover */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3); /* Increases shadow on hover */
}
#forgot-password button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

#forgot-password button:hover {
    background-color: #45a049;
}

#verification-code {
    margin-top: 20px;
}
